/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
	background-color: #fefefe;
}
div, article, h3 {
	box-sizing: border-box;
}
p, .menuLink {
	font-family: 'Open Sans', sans-serif;
}
i {
	font-family: 'fontello';
}
article {
	border-bottom: 2px dotted #ddd;
	margin-bottom: 25px;
	overflow: hidden;
}
.center {
	text-align: center;
}
.main {
	position: relative;
}
.menuLink {
	margin-left: 10px;
	margin-right: 10px;
}
.menuLink:hover {
	color: #818181;
}
.navigation {
	margin-bottom: 25px;
	border-bottom: 
}
.postTitle {
	position: absolute;
	background-color: #35adbb;
	opacity: 0.7;
	padding: 15px;
	width: 100%;
	margin-top: 40px;
	transition: all 1s linear;
	z-index: 999;
}
.postTitle:hover {
	background-color: #2d99a6;
	opacity: 1;
	padding-top: 40px;
	margin-top: 0px;
}
.title {
	background-color: pink;
	height: 400px;
	overflow: hidden;
}
.preview {
	background-color: #2d99a6;
	color: white;
	overflow: hidden;
	text-align: center;
	padding: 100px 75px 75px;
	font-size: 50px;
	height: 400px;
	position: absolute;
	line-height: 1;
	display: none;
}
.hoverPreview {
	margin-top: -500px;
	transition: all 25s linear;
}
.circledImage {
	border-radius: 50%;
	float: left;
	margin: 15px;
	width: 50%;
}
#side {
	float: right;
}
h1 {
	font-family: 'Fredericka the Great', cursive;
	color: #2d99a6;
}
h2, h3, .h-1, .h-4 {
	font-family: 'Open Sans Condensed', sans-serif !important;
}
.preview p {
	font-family: 'Open Sans Condensed', sans-serif !important;
	font-style: italic;
}
a {
	text-decoration: none;
}
.logo {
	display: inline-block;
}
.social {
	text-align: center;
	border: 3px double #35adbb;
	padding: 15px;
	margin-bottom: 25px;
}
.social p {
	font-size: 35px;
	font-family: "Open Sans Condensed",sans-serif;
	color: #35adbb;
}
.socialIcon {
	color: #2d99a6;
	font-size: 35px;
	cursor: pointer;
}
.socialIcon:hover {
	color: #35adbb;
}
#search-2 {
	padding-bottom: 5;
	border-bottom: 1px solid #2d99a6;
}
#recent-posts-2 h3, #archives-2 h3 {
	color: #35adbb;
	margin-bottom: 10px;
}
#recent-posts-2 {
	margin-top: 25px;
}
#s, #searchsubmit {
	float: left;
	box-sizing: border-box;
}
#searchsubmit {
	background-color: #2d99a6;
	border: none;
	color: white;
	height: 30px;
	border-radius: 0 2px 2px 0;
	cursor: pointer;
	width: 25%;
}
#searchsubmit {
	background-color: 
}
.test, .readMore {
	color: #35adbb !important;
	text-align: right;
	margin-bottom: 25px;
}
.readMore:hover {
	color: #2d99a6 !important;
}
.fullpageTitle {
	color: #35adbb;
	padding-bottom: 10px;
	margin-bottom: 25px;
	border-bottom: 2px dotted #ddd;
	text-align: center;
}
.ad {
	border: 3px double #35adbb;
	height: 100px;
	text-align: center;
}
#recent-posts-2, #archives-2 {
	border: 3px double #35adbb;
	text-align: center;
	margin-bottom: 25px;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}

